@media (max-width: 350px) {
  :root {
     --nav-width: 200px
  }
}

#box-container {
   height: 500px;
   display: flex;
}

#nav-bar {
  position: fixed;
  top: 0px;
  width: var(--nav-width,500px);
  margin: 0 auto;
  background: white;
  padding: 10px;
}

